<h3>comments</h3>
<%= @post.comments.each do |comment| %>
 <div class="well">
 	<p><strong><%= comment.username %></strong>: <%= comment.body %>
 	<%= link_to '[X]', [commnet.post, comment],
 	                          method: :delete,
 	                          data: {confrm: 'Are you sure?'} %></p>
 </div>
<% end %>